@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;1,100;1,300;1,400;1,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap');

$font-stack: 'Libre Baskerville', serif;

// MONO
$mono-white: white;
$mono-black: black;
$mono-secondary: #d6d6d6;
$mono-vibrant: #FF2D55;
$mono-vibrant-secondary: #CEFF2D;

//Light palette
$light-background: #F6EED7;
$light-text-primary: #48484A;
$light-primary: #FF9090;
$light-secondary: #85C4FF;
$light-third: #E09DFF;
$light-fourth: #FFB800;
$light-fifth: #569999;
$light-sixth: #73CC73;

//Dark palette
$dark-background: #1C1C1E;
$dark-text-primary: #FFFFFF;
$dark-primary: #FF2D55;
$dark-secondary: #FFFF55;
$dark-third: #E09DFF;
$dark-fourth: #FF792D;
$dark-fifth: #71FF2D;
$dark-sixth: #CEFF2D;

// Disables text selection
@mixin noSelect() {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none;
}

// GLOBAL
body {
    width: 100vw;
    height: 100vh;

    margin: 0;
    padding: 0;

    font-family: $font-stack;

    background-color: black;
}

// SPLASH
.splash {
    width: 100%;
    height: 100%;
    
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    z-index: 100;

    display: flex;
    align-items: center;
    justify-content: center;

    @include noSelect();

    background-color: $mono-white;

    // Animation settings
    transition: 1.5s all;
    opacity: 1;
    filter: blur(0);

    .header {
        font-size: 10rem;
        @media (orientation: portrait) {
            font-size: 15vw;
        }
        color: $mono-black;
        text-align: right;

        // Animation pre-settings
        filter: blur(1.5rem);
        opacity: 0;
        transition: 1.5s;
    }
}

.menu {
    width: 96vw;
    height: 5%;
    position: absolute;
    top: 0;
    left: 0;

    margin: 0 2vw 0 2vw;

    display: flex;
    justify-content: center;
    align-items: center;

    z-index: 80;

    background-color: $mono-black;
    
    border-bottom: 1px solid white;

    transition: .3s all;

    @include noSelect();

    &__left { 
        width: 33%; 
        @media (orientation: portrait) {
            width: 0;
        }
    }
    &__center { 
        width: 33%;
        display: flex;
        justify-content: center;
        align-items: center;
        @media (orientation: portrait) {
            width: 50%;
            justify-content: flex-start;
            margin-left: 1ch;
        }
    }
    &__right { 
        width: 33%;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        @media (orientation: portrait) {
            width: 50%;
            justify-content: flex-end;
            .menu__folio { margin-right: 1ch; }
            .menu__social { margin-right: 1ch; }
            .menu__contact { margin-right: 1ch; }
        }
    }

    // Menu animations
    @mixin menu-animation($colour) {
        transition: .3s all;
        &:hover {
            color: $colour;
        }
    }

    &__logo {
        color: $mono-vibrant;
        text-align: center;
        transition: .3s all;
        &:hover {
            filter: brightness(1.2);
        }
    }

    &__folio {
        color: $mono-white;
        margin-right: 2ch;
        @include menu-animation($mono-vibrant);
    }

    &__social {
        color: $mono-white;
        margin-right: 2ch;
        @include menu-animation($mono-vibrant);
    }

    &__contact {
        color: $mono-white;
        margin-right: 2ch;
        @include menu-animation($mono-vibrant);
    }
}

// Contact
.contact-page {
    width: 96%;
    height: .5vh;

    margin: 0 2% 0 2%;

    position: absolute;
    top: 5%;
    left: 0;
    right: 0;

    z-index: 70;

    color: $mono-white;
    background-color: $mono-black;
    border-bottom: 1px solid white;

    transition: .3s all;
    overflow: hidden;

    &__row {
        height: auto;

        transition: .5s all;

        &__link {
            padding: .5ch 0 0 5%;
            font-size: 5ch;

            transition: .5s all;

            & > a {
                text-decoration: none;
                color: $mono-white;
                transition: .3s all;
                &:hover {
                    color: $mono-vibrant;
                }
            }
        }
    }
}

// Pages CSS
// Left / right mixin

@mixin page-left() {
    width: 50%;
    height: 100%;
}

@mixin page-right() {
    width: 50%;
    height: 100%;
}

@mixin fade-in() {
    // DOM Opacity fade in
    opacity: 0;
    transition: .5s all;
}

.main {
    width: 100%;
    height: 100%;

    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;

    background-color: $mono-black;

    @include fade-in();

    // Divides page for header and graphics to sit in
    &__left {
        @include page-left();
    }

    &__right {
        @include page_right();
    }

    &__header {
        height: auto;
        width: auto;
        max-width: 70vw;

        @media (orientation: landscape) {
            position: relative;
            left: 8%;
        }
        
        z-index: 10;

        font-size: 17vh;
        font-weight: 100;
        color: $mono-white;

        @include noSelect();

        @media (orientation: portrait) {
            font-size: 7vh;
            
            position: relative;
            top: 50%;
        }

        // Animation mix in
        @mixin text-hover($colour) {
            transition: .3s all;
            &:hover {
                color: $colour;
            }
        }

        &--web {
            position: absolute;
            top: 1.5ch;
            left: 1ch;

            letter-spacing: .07ch;

            z-index: 50;
            
            @include text-hover($mono-vibrant);
        }

        &--dev {
            position: absolute;
            top: 2.8ch;
            left: 2.7ch;

            // letter-spacing: .1ch;

            z-index: 50;

            @include text-hover($mono-vibrant);
        }

        &--and {
            position: absolute;
            top: 2.8ch;
            left: 1.2ch;

            z-index: 50;

            @include text-hover($mono-secondary);
        }

        &--photo {
            position: absolute;
            top: 4.1ch;
            left: .2ch;

            z-index: 50;

            @include text-hover($mono-vibrant-secondary);
        }

        &--graphy {
            position: absolute;
            top: 5.4ch;
            left: 1.15ch;

            z-index: 50;

            @include text-hover($mono-vibrant-secondary);
        }
    }

    &__hero {
        width: auto;
        height: auto;

        position: relative;
        top: 18%;
        right: 8%;

        display: flex;
        justify-content: flex-end;
        align-items: center;

        z-index: 0;

        @media (orientation: portrait) {
            top: 10%;
        }

        & > img {
            width: 45vw;
            height: 35vh;

            object-fit: cover;
            object-position: center center;

            @media (orientation: portrait) {
                width: 80vw;
                height: 70vh;
            }
        }
    }

    .sub-header {
        width: auto;
        height: auto;

        @media (orientation: landscape) {
            position: relative;
            top: 22%;
            right: 8%;
        }

        z-index: 5;

        display: flex;
        justify-content: flex-end;
        align-items: center;

        &__text {
            // Hides text if page gets too small
            @media (max-aspect-ratio: 3/2) {
                opacity: 0;
                top: 0;
                left: 0;
            }
            
            transition: .3s all;
            opacity: 1;

            width: 60%;
            text-align: right;
            color: $mono-white;
            font-size: 3vh;

            @media (orientation: portrait) {
                width: 60%;
                position: absolute;
                left: 33%;
                top: 93%;
                opacity: 1;
                font-size: 2vh;
                padding-bottom: 2ch;
                // display: none;
            }
        }
    }

    &__more {
        position: absolute;
        top: 90%;
        left: 44.7%;
        color: $mono-white;

        transition: .3s all;

        z-index: 50;

        @include noSelect();

        @media (orientation: portrait) {
            top: 128%;
            left: 33%;
            padding-bottom: 5%;
            // display: none;
        }

        &:hover {
            color: $mono-vibrant;
            transform: scale(1.02);
        }
    }

    &__text-circle {
        width: 100px;
        height: 100px;
        border-radius: 50%;

        color: $mono-white;
        font-size: 3vh;
    }
}

.folio {
    @media (orientation: landscape) {
        width: 100%;
        height: 100vh;

        position: absolute;
        top: 0;
        left: 0;

        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;

        z-index: 1;

        @include fade-in();

        background-color: $mono-black;

        &__left {
            @include page-left();
            display: flex;
            flex-direction: column;
            flex-wrap: nowrap;
            justify-content: center;
            align-items: flex-end;
            @media (max-aspect-ratio: 3/2) {
                .folio__hero {
                    width: auto;
                    & > img {
                        width: 40vw;
                    }
                }
                .folio__project-selector {
                    width: 40vw;
                }
            }
        }

        &__right {
            @include page-right();
            display: flex;
            flex-direction: column;
            flex-wrap: nowrap;
            justify-content: center;
            align-items: flex-end;

            // Hides if page shrinks
            opacity: 1;
            transition: .2s all;
            @media (max-aspect-ratio: 3/2) {
                .folio__header {
                    
                }
                .folio__text {
                    overflow: scroll;
                }
            }
        }

        &__hero {
            width: auto;
            height: auto;

            padding: 5% 0 0 0;

            & > img {
                width: 75vh;
                height: 75vh;

                object-fit: cover;
                object-position: center center;

                filter: opacity(.5);
                // Animation
                transition: .3s all;
                &:hover {
                    filter: opacity(1);
                }
            }
        }

        &__project-selector {
            width: 75vh;
            height: auto;

            display: flex;
            justify-content: space-between;

            padding: 2% 0 0 0;

            @include noSelect();

            color: $mono-white;
            font-size: 3vh;

            .project-selector__nav {
                display: flex;
                width: 50%;
                // Animation
                transition: .2s all;
                & > .prev:hover{
                    color: $mono-vibrant;
                }
                & > .next:hover{
                    color: $mono-vibrant;
                }
            }

            .project-selector__page {
                width: 50%;
                display: flex;
                justify-content: flex-end;
            }
        }

        &__header {
            width: 100%;
            height: 28vh;

            margin: 0 12% 0 0;


            display: flex;
            align-items: flex-end;
            justify-items: flex-end;

            @include noSelect();

            color: $mono-vibrant;
            font-size: 10vh;
            text-align: left;
            font-style: italic;
            filter: opacity(.8);

            transition: .3s all;
            &:hover {
                filter: opacity(1);
            }
        }

        &__text {
            width: 90%;
            height: 72vh;

            margin: 0 9% 0 0;

            @include noSelect();

            color: $mono-white;
            font-size: 3vh;
            text-align: justify;

            h3 {
                font-size: 4vh;
                margin: 0;
                padding: 0;
                transition: .3s all;
                color: $mono-vibrant-secondary;
                filter: opacity(.9);
                &:hover {
                    color: $mono-vibrant-secondary;
                    filter: opacity(1);
                }
            }
        }
    }

    @media (orientation: portrait) {
        width: 100%;
        height: 100vh;

        display: flex;
        flex-direction: row;
        flex-wrap: wrap;

        z-index: 1;

        @include fade-in();

        background-color: $mono-black;

        // overflow-x: scroll;

        &__left {
            width: 100%;
            height: 65vh;

            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
        }

        &__right {
            width: 100%;
            height: auto;

            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;

            // Hides if page shrinks
            opacity: 1;
            transition: .2s all;
        }

        &__hero {
            width: 90%;
            height: auto;

            display: flex;
            justify-content: center;
            align-items: center;

            padding: 10% 0 0 0;

            & > img {
                width: 50vh;
                height: 50vh;
                max-width: 100%;

                object-fit: cover;
                object-position: center center;

                filter: opacity(.9);
                // Animation
                transition: .3s all;
                &:hover {
                    filter: opacity(1);
                }
            }
        }

        &__project-selector {
            width: 90%;
            height: auto;

            margin-top: -8%;

            display: flex;
            justify-content: space-between;

            @include noSelect();

            color: $mono-white;
            font-size: 1.5vh;

            .project-selector__nav {
                display: flex;
                width: 50%;
                // Animation
                transition: .2s all;
                & > .prev:hover{
                    color: $mono-vibrant;
                }
                & > .next:hover{
                    color: $mono-vibrant;
                }
            }

            .project-selector__page {
                width: 50%;
                display: flex;
                justify-content: flex-end;
            }
        }

        &__header {
            width: 90%;
            height: auto;

            margin: 2% 0 2% 2%;

            @include noSelect();

            color: $mono-vibrant;
            font-size: 8vh;
            text-align: left;
            font-style: italic;

            filter: opacity(.9);

            transition: .3s all;
            &:hover {
                filter: opacity(1);
            }
        }

        &__text {
            width: 90%;
            height: auto;

            margin: 0 2% 7% 2%;

            @include noSelect();

            color: $mono-white;
            font-size: 3vh;
            text-align: justify;

            h3 {
                font-size: 4vh;
                margin: 0;
                padding: 0;
                transition: .3s all;
                color: $mono-vibrant-secondary;
                filter: opacity(0.9);
                &:hover {
                    color: $mono-vibrant-secondary;
                    filter: opacity(1);
                }
            }
        }
    }
}

// Circular text styling
#circle-text {

    transition: .3s all;

    @media (orientation: portrait) {
        position: absolute;
        top: 7%;
        left: 7ch;
        font-size: 1.2rem;
    }

    @media (orientation: landscape) {
        position: absolute;
        top: 7%;
        right: 8ch;
        font-size: 2rem;
    }

    color: $mono-white;
    mix-blend-mode: exclusion;

    z-index: 50;
}